#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    @media (max-width: 450px) {
        display: none;
    }
    h6{
        color: black; 
        font-size: 28px; 
        font-weight: bold; 
        margin-bottom: 10px;
    }
    p{
        font-size: 16px;
        text-align: center;
        margin-bottom: 30px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px; 

        .form-group {
            margin-bottom: 20px;
            //width: 34vw;
            width: 34rem;
            @media (max-width: 1270px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start; 
                margin-left: 8rem;
            }
            &:first-of-type, &:nth-of-type(2) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                @media (max-width: 1270px) {
                    flex-direction: column;
                    align-items: flex-start; // Aligner les éléments à gauche
                }
               
                label{
                    margin-right: 8px;
                    //padding-right: 25px;
                }

                input[type="text"],
                input[type="email"] {
                    //width: 28vw;
                    width: 28rem;
                    @media (max-width: 1270px) {
                        //width: 33vw;
                        width: 25rem;
                    }
                    
                }
            }

            input[type="text"],
            input[type="email"],
            textarea {
                //width: 32.8vw;
                width: 33rem;
                padding: 8px;
                margin: 5px 0 0 0;
                border: 1px solid #ccc;
                border-radius: 5px;
                @media (max-width: 1270px) {
                    //width: 33vw;
                    width: 25rem;
                }
               
            }

            textarea {
                height: 100px; 
            }
        }

        input[type="submit"] {
            width: 30%;
            padding: 10px;
            background-color: #006FE6;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}

