// Variables
$background-gradient: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);

// Mixins
@mixin transition($properties...) {
  transition: $properties;
}

// Keyframes
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// Base Styles
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Footer Styles
footer {
  background: $background-gradient;
  color: white;
  text-align: center;
  padding: 30px 0;
  position: relative;
  background-size: 400%;
  animation: gradient 15s ease infinite;

  .footer-content {
    margin-bottom: 20px;
    p {
      margin: 0 10px 0 10px;
      font-size: 16px;
    }
    .socials {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
  
      li {
        margin: 0 10px;
  
        a {
          text-decoration: none;
          color: white;
          font-size: 1.2em;
          position: relative;
          @include transition(transform 0.3s);
  
          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.5);
            @include transition(width 0.3s, height 0.3s, top 0.3s, left 0.3s);
          }
  
          &:hover {
            transform: translateY(-10px);
  
            &:before {
              width: 120%;
              height: 120%;
              top: -10%;
              left: -10%;
            }
          }
        }
      }
    }
    .links {
      margin: 20px 10px 0 10px; 
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    
      a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        margin: 0 5px; 
        @include transition(color 0.3s ease); 
    
        &:hover {
          color: #f8f9fa; 
        }
    
        &:not(:last-child) {
          margin-right: 15px; 
        }
      }
    }
    
  }

  .footer-bottom {
    margin-top: 20px;

    p {
      margin: 0;
      font-size: 14px;
    }
  }

  
}
