footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgb(83,30,102);
    background: linear-gradient(90deg, rgba(83,30,102,1) 0%, rgba(67,24,83,1) 52%, rgba(83,30,102,1) 100%);
margin-top: 20rem;
    section{

    color: white;
}
}