@import "./variables";


.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: transparent;
    backdrop-filter: blur(10px);
    margin: 0%;
    height: 4rem;
    background-color: #566270;
    width: 100%;
    z-index: 99999999999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    img{
        width: 4rem;
        height: 4rem;
        margin-left: 25px;
    }
    .nav{
        margin: 0%;
        ul{
            display: flex;
            justify-content: center;
            align-content: center;
	        list-style-type: none;
	        font-size: 1.7vw;
	        margin: 0 4vw 0 0;
            li{
                padding-inline: 20px;
                position: relative;
                a {
                    text-decoration: none;
                    color: $color-white;
                
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        height: 3px;
                        width: 100%;
                        border-radius: 25px;
                        transform: scaleX(0);
                        background: cyan;
                        transform-origin: right;
                        transition: transform 0.3s ease;
                    }
                
                    &:hover::before {
                        transform: scaleX(1);
                        transform-origin: left;
                        width: 100%;
                    }
                }
                
        
                .dropdown {
                    float: right;
                
                    &-content {
                        display: none;
                        position: absolute;
                        top: 100%; 
                        right: 0; 
                        background-color: #f9f9f9;
                        min-width: 130px;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        z-index: 1;
                
                        a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                            opacity: 0.7;
                
                            &:hover {
                                background-color: #f1f1f1;
                                opacity: 1;
                            }
                            &::before {
                                visibility: hidden;
                            }
                        }
                    }
                }
                
                &:hover .dropdown-content {
                    display: block;
                }
                
                
            }
        }
    }
}

@media (max-width: 768px) {
    .top-header {
        display: block;
        .nav {
            ul {
                display: none; 
                flex-direction: column;
                position: fixed;
                top: 63px;
                right: 0;
                width: 150px;
                background-color: #566270;
                padding-left: 0px;
                margin: 0;
                li {
                    padding-inline: 0;
                    a {
                        padding: 15px 25px;
                        display: block;
                    }
                }
            }

            .menu-toggle {
                display: block;
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
                color: $color-white;
                font-size: 30px;
            }
        }
    }
}

@media (min-width: 769px) {
    .top-header {
        .nav {
            ul {
                display: flex !important;
            }
            .menu-toggle{
                display: none;
            }
        }
    }
}
