body {
  width: 100%;
  margin: 0%;
}

* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

h1, h2, h3, h4, h5, span {
  font-family: "Roboto", sans-serif;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin: 0%;
  height: 4rem;
  background-color: #566270;
  width: 100%;
  z-index: 99999999999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.top-header img {
  width: 4rem;
  height: 4rem;
  margin-left: 25px;
}
.top-header .nav {
  margin: 0%;
}
.top-header .nav ul {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  font-size: 1.2rem;
  margin: 0 25px 0 0;
}
@media (max-width: 940px) {
  .top-header .nav ul {
    font-size: 1.7vw;
  }
}
.top-header .nav ul li {
  padding-inline: 20px;
  position: relative;
}
.top-header .nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
.top-header .nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 100%;
  border-radius: 25px;
  transform: scaleX(0);
  background: cyan;
  transform-origin: right;
  transition: transform 0.3s ease;
}
.top-header .nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  width: 100%;
}
.top-header .nav ul li .dropdown {
  float: right;
}
.top-header .nav ul li .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.top-header .nav ul li .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  opacity: 0.7;
}
.top-header .nav ul li .dropdown-content a:hover {
  background-color: #f1f1f1;
  opacity: 1;
}
.top-header .nav ul li .dropdown-content a::before {
  visibility: hidden;
}
.top-header .nav ul li:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .top-header {
    display: block;
  }
  .top-header .nav ul {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 63px;
    right: 0;
    width: 150px;
    background-color: #566270;
    padding-left: 0px;
    margin: 0;
  }
  .top-header .nav ul li {
    padding-inline: 0;
  }
  .top-header .nav ul li a {
    padding: 15px 25px;
    display: block;
  }
  .top-header .nav .menu-toggle {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
  }
}
@media (min-width: 769px) {
  .top-header .nav ul {
    display: flex !important;
  }
  .top-header .nav .menu-toggle {
    display: none;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  color: white;
  text-align: center;
  padding: 30px 0;
  position: relative;
  background-size: 400%;
  animation: gradient 15s ease infinite;
}
footer .footer-content {
  margin-bottom: 20px;
}
footer .footer-content p {
  margin: 0 10px 0 10px;
  font-size: 16px;
}
footer .footer-content .socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
footer .footer-content .socials li {
  margin: 0 10px;
}
footer .footer-content .socials li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  position: relative;
  transition: transform 0.3s;
}
footer .footer-content .socials li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
}
footer .footer-content .socials li a:hover {
  transform: translateY(-10px);
}
footer .footer-content .socials li a:hover:before {
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
}
footer .footer-content .links {
  margin: 20px 10px 0 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer .footer-content .links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin: 0 5px;
  transition: color 0.3s ease;
}
footer .footer-content .links a:hover {
  color: #f8f9fa;
}
footer .footer-content .links a:not(:last-child) {
  margin-right: 15px;
}
footer .footer-bottom {
  margin-top: 20px;
}
footer .footer-bottom p {
  margin: 0;
  font-size: 14px;
}

#competences {
  background-color: #f8f9fa;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#competences h5 {
  color: black;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
#competences .skill {
  margin-bottom: 20px;
}
#competences .skill .progress {
  background-color: #f0f0f0;
  height: 10px;
  width: 40vw;
  border-radius: 10px;
  overflow: hidden;
}
#competences .skill .progress .progress-bar {
  height: 100%;
  width: 0;
  background: linear-gradient(to left, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  transition: width 3s linear;
}
#competences .skill .progress .progress-bar.html {
  width: 90%;
}
#competences .skill .progress .progress-bar.css {
  width: 80%;
}
#competences .skill .progress .progress-bar.javascript {
  width: 70%;
}
#competences .skill .progress .progress-bar.react {
  width: 70%;
}
#competences .skill .progress .progress-bar.redux {
  width: 60%;
}

@keyframes processbar-fill {
  0% {
    width: 0;
  }
  100% {
    width: var(--percentage);
  }
}
#portfolio {
  padding: 30px;
}
#portfolio h4 {
  color: black;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 20px 0;
}
#portfolio .filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0rem 0 2rem 0;
}
#portfolio .filters .filter-btn {
  padding: 10px 20px;
  margin: 15px 10px 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #006FE6;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#portfolio .filters .filter-btn:hover {
  background-color: #0056b3;
}
#portfolio .projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  cursor: pointer;
}
#portfolio .projects-container .project {
  margin: 15px;
  position: relative;
  display: inline-block;
  animation: appearAnimation 3.5s ease forwards;
}
@keyframes appearAnimation {
  from {
    opacity: 0;
    transform: translateY(-40px);
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
#portfolio .projects-container .image-container {
  position: relative;
  overflow: hidden;
  width: 25vw;
  height: 250px;
  border-radius: 15px;
}
@media (max-width: 759px) {
  #portfolio .projects-container .image-container {
    width: 40vw;
  }
}
@media (max-width: 600px) {
  #portfolio .projects-container .image-container {
    width: 20rem;
  }
}
#portfolio .projects-container .image-container img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
#portfolio .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(10, 50, 230), rgba(6, 77, 192, 0));
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
#portfolio .overlay:hover {
  opacity: 1;
}
#portfolio .overlay h1, #portfolio .overlay p, #portfolio .overlay a {
  margin: 0;
  padding: 10px;
  text-align: center;
}
#portfolio .overlay a {
  color: #fff;
  text-decoration: none;
  background-color: #006FE6;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
#portfolio .overlay a:hover {
  background-color: #0056b3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000000000000000;
}
.modal .modal-content {
  background-color: #fdfdfd;
  margin: 7rem auto;
  padding: 30px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 80%;
  max-width: 900px;
  position: relative;
}
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal p {
  color: black;
  font-size: 18px;
  margin: 40px 0;
  text-align: center;
  line-height: 1.6;
}
.modal .modal-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.modal .modal-buttons .modal-button {
  margin: 1rem 1.5rem 1rem 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  width: 90px;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  background-color: #006FE6;
  transition: background-color 0.3s ease;
}
.modal .modal-buttons .modal-button:hover {
  background-color: #0056b3;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  color: white;
  text-align: center;
  position: relative;
  height: 42.1rem;
  background-size: 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
}
header .left {
  width: 44vw;
}
@media (max-width: 768px) {
  header .left {
    width: 25rem;
  }
}
header .left .apropos-text {
  display: flex;
  flex-direction: column;
}
header .left .apropos-text h1 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 5em;
}
@media (max-width: 768px) {
  header .left .apropos-text h1 {
    font-size: 4em;
  }
}
header .left .apropos-text h2 {
  margin: 0;
  font-size: 2.5em;
}
@media (max-width: 768px) {
  header .left .apropos-text h2 {
    font-size: 2em;
  }
}
header .left .apropos-text p {
  margin: 1rem 0 1rem 0;
  padding-bottom: 20px;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  header .left .apropos-text p {
    font-size: 1em;
  }
}
header .left .social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header .left .social-links .button {
  padding: 0.6em 1em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 20px;
  font-size: 0.8em;
  text-decoration: none;
}
header .left .social-links .button:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
header .left .social-links .button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
header .left .social-links i {
  margin-right: 1.5vw;
  color: white;
  font-size: 2em;
}
header .left .social-links i .fa-brands {
  display: flex;
}
header .right {
  margin-top: 0%;
  display: flex;
}
@media (max-width: 668px) {
  header .right {
    display: none;
  }
}
header .right .photo-dev {
  height: 42.1rem;
  perspective: 1000px;
  position: relative;
}
header .right .photo-dev img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.5s ease;
  overflow: hidden;
}
header .right .photo-dev img:hover {
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.8));
  transform: scale(1.1);
}
header .right .logo {
  position: absolute;
  right: 3em;
  top: -1em;
  width: 16rem;
  height: 16rem;
}
header .right .logo img {
  width: 100%;
  height: 100%;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
#apropos {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}
#apropos h3 {
  color: black;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
#apropos p {
  color: #474E52;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}
#apropos span {
  display: block;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
#apropos a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}
#apropos a:hover {
  color: #006FE6;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
@media (max-width: 450px) {
  #contact {
    display: none;
  }
}
#contact h5 {
  color: black;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
#contact p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}
#contact .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}
#contact .contact-form .form-group {
  margin-bottom: 20px;
  width: 34rem;
}
@media (max-width: 1270px) {
  #contact .contact-form .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 8rem;
  }
}
#contact .contact-form .form-group:first-of-type, #contact .contact-form .form-group:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 1270px) {
  #contact .contact-form .form-group:first-of-type, #contact .contact-form .form-group:nth-of-type(2) {
    flex-direction: column;
    align-items: flex-start;
  }
}
#contact .contact-form .form-group:first-of-type label, #contact .contact-form .form-group:nth-of-type(2) label {
  margin-right: 8px;
}
#contact .contact-form .form-group:first-of-type input[type=text],
#contact .contact-form .form-group:first-of-type input[type=email], #contact .contact-form .form-group:nth-of-type(2) input[type=text],
#contact .contact-form .form-group:nth-of-type(2) input[type=email] {
  width: 28rem;
}
@media (max-width: 1270px) {
  #contact .contact-form .form-group:first-of-type input[type=text],
  #contact .contact-form .form-group:first-of-type input[type=email], #contact .contact-form .form-group:nth-of-type(2) input[type=text],
  #contact .contact-form .form-group:nth-of-type(2) input[type=email] {
    width: 25rem;
  }
}
#contact .contact-form .form-group input[type=text],
#contact .contact-form .form-group input[type=email],
#contact .contact-form .form-group textarea {
  width: 33rem;
  padding: 8px;
  margin: 5px 0 0 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
@media (max-width: 1270px) {
  #contact .contact-form .form-group input[type=text],
  #contact .contact-form .form-group input[type=email],
  #contact .contact-form .form-group textarea {
    width: 25rem;
  }
}
#contact .contact-form .form-group textarea {
  height: 100px;
}
#contact .contact-form input[type=submit] {
  width: 30%;
  padding: 10px;
  background-color: #006FE6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
#contact .contact-form input[type=submit]:hover {
  background-color: #0056b3;
}

#contactIcon {
  display: none;
}

#contact {
  display: flex;
}

#contactMobile {
  display: none;
}

@media (max-width: 450px) {
  #contactIcon {
    display: block;
    position: fixed;
    bottom: 300px;
    right: 10px;
    background-color: #006FE6;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    font-size: 2em;
  }
  #contact {
    display: none;
  }
  #contactMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contactMobile h5 {
    color: black;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  #contactMobile p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }
  #contactMobile .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
  }
  #contactMobile .contact-form .form-group {
    margin-bottom: 20px;
    width: 20rem;
  }
  #contactMobile .contact-form .form-group:first-of-type, #contactMobile .contact-form .form-group:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  #contactMobile .contact-form .form-group:first-of-type label, #contactMobile .contact-form .form-group:nth-of-type(2) label {
    margin-right: 8px;
  }
  #contactMobile .contact-form .form-group:first-of-type input[type=text],
  #contactMobile .contact-form .form-group:first-of-type input[type=email], #contactMobile .contact-form .form-group:nth-of-type(2) input[type=text],
  #contactMobile .contact-form .form-group:nth-of-type(2) input[type=email] {
    width: 15rem;
  }
  #contactMobile .contact-form .form-group input[type=text],
  #contactMobile .contact-form .form-group input[type=email],
  #contactMobile .contact-form .form-group textarea {
    width: 19rem;
    padding: 8px;
    margin: 5px 0 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #contactMobile .contact-form .form-group textarea {
    height: 100px;
    width: 19rem;
  }
  #contactMobile .contact-form input[type=submit] {
    width: 60%;
    padding: 10px;
    background-color: #006FE6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  #contactMobile .contact-form input[type=submit]:hover {
    background-color: #0056b3;
  }
}
.contact-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  z-index: 7777777777;
}
.contact-modal.show {
  visibility: visible;
  opacity: 1;
}
.contact-modal .contact-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  height: auto;
  max-width: 500px;
  position: relative;
  top: 8%;
}
.contact-modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.notification {
  position: fixed;
  top: 75%;
  right: 40vw;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: visibility 0s, opacity 0.5s ease, transform 0.5s ease;
}
.notification.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.notification.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: visibility 0s 0.5s, opacity 0.5s ease, transform 0.5s ease;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=style.css.map */